/* INDEX.HTML */
body {
    padding: 20px 10px 10px 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.navegacion {
    background-color: #F1EBE4;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navegacion a {
    text-decoration: none;
}

.navegacion a:hover {
    color: rgb(99, 238, 99);
}

.pie {
    font-size: 12px;
    padding-top: 500px;
    display: flex;
    justify-content: center;
}

.contenido {
    display: flex;
    justify-content: center;
}

/* ABOUT.HTML */



/* PORTFOLIO.HTML */

